*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs

# ide
.idea
.eclipse
.vscode

# Mac
.DS_Store
rapportage 2024Q4.ipynb
rapportage 250124 comments.ipynb
rapportage-drop-single-sensor.ipynb
RouteFilter1.ipynb
RouteFilter2 (before rename AB to BE.ipynb
zooi oud routefilter.ipynb
.gitignore
zooi oud routefilter2.ipynb
